{% extends "base.html" %}

{% block title %}智信九鼎{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>{{ company_name }}</h1>
    <ul class="nav nav-tabs">
        {% for tag1 in tags %}
            <li><a href="/company/{{ company_name }}/{{ tag1 }}" >{{ tag1 }}</a></li>
        {% endfor %}
        <li><a href="/company/{{ company_name }}/project" >企业项目资料分类</a></li>
    </ul>

</div>

<div>
    <p>{{ t }}文件数：{{ count }}</p>
	<ul>
	{% for file in files %}
        <li>
		    <a href='{{ url_for('download',file_id = file._id ) }}'>{{ file.filename }}</a>
	    </li>
            <a href="/{{ file._id }}/delete" class="label label-danger" id="delete">删除</a>
            <a href="/{{ file._id }}/update" class="label label-warning">重新上传</a>
	{% endfor %}
	</ul>
</div>
{% endblock %}
