{% extends "bootstrap/base.html" %}

{% block title %}智信九鼎{% endblock %}

{% block head %}
    {{ super() }}
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{#树形结构#}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>

{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle"
			data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>			
			</button>
			<a class="navbar-brand" href="/">智信九鼎</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/company">所有公司</a></li>
			</ul>
{#            <ul class="nav navbar-nav">#}
{#				<li><a href="/project">所有项目</a></li>#}
{#			</ul>#}
{#			<ul class="nav navbar-nav">#}
{#				<li><a href="/project/government">政府项目</a></li>#}
{#			</ul>#}
{#			<ul class="nav navbar-nav">#}
{#				<li><a href="/project/innovation">创新主体</a></li>#}
{#			</ul>#}
{#			<ul class="nav navbar-nav">#}
{#				<li><a href="/project/investment">投融资机构</a></li>#}
{#			</ul>#}
{#            <ul class="nav navbar-nav navbar-right">#}
{#				<li><a href="/full_text/search">全文检索</a></li>#}
{#			</ul>#}
{#            <ul class="nav navbar-nav navbar-right">#}
{#				<li><a href="/search">搜索文件</a></li>#}
{#			</ul>#}
            <ul class="nav navbar-nav navbar-right">
				<li><a href="/upload">上传项目压缩文件</a></li>
			</ul>
            <ul class="nav navbar-nav navbar-right">
				<li><a href="/full_text/search1">全文检索</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

	{% block page_content %}{% endblock %}
</div>

<footer class="navbar-fixed-bottom">
    <div class="container">
        <p>&copy; zxjd 2016</p><br>
    </div>
</footer>

{% endblock %}
