{% extends "base.html" %}
{% block title %}智信九鼎{% endblock %}
{% block head %}
{{ super() }}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="/static/spark-md5.js"></script>
{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>{{ company_name }}</h1>
</div>

<div class="row">
  <div class="col-md-4">
      <p>项目目录</p>
      <div id="container"></div>
<script>
$('#container').jstree({
    'core' : {
      'data' : {
        "url" : "/get_json/{{ company_name }}",
        "dataType" : "json"
      }
    }
});
$('#container').on("changed.jstree", function (e, data){
    var currentNode = data.instance.get_selected(true)[0].text;
{#    alert(currentNode)#}
    var path = data.instance.get_path(data.node,"/");
{#    alert(path);#}
    var data = { "tag": path }
    $.ajax({
        type : "get",
        url : '/query',
        data : data,
        datatype: 'json',
        success:function (msg) {
{#            alert( "Data Saved: " + msg.count );#}
            $('form').attr('id', path)
            $('#files').empty()
            $('#file_count').text(currentNode + '：' + msg.count)
            $.each(msg.lists, function (i, item) {
{#                alert(item.filename)#}
                $('#files').append("<li><a href=/" + item.file_id + ">" + item.filename + "</a></li>" +
                    "<a href=\"/" + item.file_id + "/delete\" class=\"label label-danger\">删除</a>" +
                        "<a href=\"/" + item.file_id +  "/update\" class=\"label label-warning\">重新上传</a>"
                );
            })
        }
    })
});
</script>
</div>
<div class="col-md-8">
    <div id="container">
        <p id="file_count">总文件数：{{ count }}</p>
        <form name='' id={{ company_name }} method="POST" enctype="multipart/form-data">
            <input type="file" name="file" id="file" />
            <input class="btn btn-default" type="submit" value="添加文件">
        </form>
    {#        进度条#}
<br>
<div class="progress" style="display: none;">
<div class="progress-bar" role="progressbar" aria-valuenow="0"
    aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
        0%
</div>
</div>
{#    计算MD5#}
<script type="text/javascript">
    document.getElementById('file').addEventListener('change', function () {
                var blobSlice = File.prototype.slice || File.prototype.mozSlice || File.prototype.webkitSlice,
                    file = this.files[0],
                    chunkSize = 2097152,                             // Read in chunks of 2MB
                    chunks = Math.ceil(file.size / chunkSize),
                    currentChunk = 0,
                    spark = new SparkMD5.ArrayBuffer(),
                    fileReader = new FileReader();
                fileReader.onload = function (e) {
                    console.log('read chunk nr', currentChunk + 1, 'of', chunks);
                    spark.append(e.target.result);                   // Append array buffer
                    currentChunk++;
                    if (currentChunk < chunks) {
                        loadNext();
                    } else {
                        //console.log('finished loading');
                        $('form').attr('name', spark.end());
                        //console.info('computed hash', spark.end());  // Compute hash
                    }
                };
                fileReader.onerror = function () {
                    console.warn('oops, something went wrong.');
                };
                function loadNext() {
                    var start = currentChunk * chunkSize,
                        end = ((start + chunkSize) >= file.size) ? file.size : start + chunkSize;
                    fileReader.readAsArrayBuffer(blobSlice.call(file, start, end));
                }
                loadNext();
            });

$('form').on('submit', function (event) {
    // 显示进度条
    $('.progress').css('display', 'block');
    // 阻止元素发生默认的行为，此处用来阻止对表单的提交
    event.preventDefault();
    var tag = $('form').attr('id');
    var file_md5 = $('form').attr('name');
    var formData = new FormData(this);
    formData.append('tag', tag);
    formData.append('file_md5', file_md5);
    // jQuery Ajax 上传文件，关键在于设置：processData 和 contentType
    $.ajax({
        xhr: function () {
            var xhr = new XMLHttpRequest();
            xhr.upload.addEventListener('progress', function (e) {
                if (e.lengthComputable) {
                    var percent = Math.round(e.loaded * 100 / e.total);
                    $('.progress-bar').attr('aria-valuenow', percent).css('width', percent + '%').text(percent + '%');
                }
            });
            return xhr;
        },
        type: 'POST',
        url: '/file/upload',
        cache: false,
        data: formData,
        // 告诉 jQuery 不要去处理发送的数据
        processData: false,
        // 告诉 jQuery 不要去设置 Content-Type 请求头
        // 因为这里是由 <form> 表单构造的 FormData 对象，且已经声明了属性 enctype="multipart/form-data"，所以设置为 false
        contentType: false
    }).done(function (res) {
        alert('添加成功!');
    }).fail(function (res) {
        alert('添加失败或者此文件夹下已存在此文件!');
    });
});
</script>
        <hr/>
        <ul id="files">
            {% for file in files %}
                <li>
                    <a href={{ url_for('download',file_id=file._id) }}>{{ file.filename }}</a>

                </li>
            {% endfor %}
        </ul>
        </div>
    </div>
</div>
{% endblock %}